language: perl
before_install:
    - cpanm --notest JSON YAML Text::CSV HTML::TableExtract Spreadsheet::ParseExcel Spreadsheet::Read
perl:
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
